In [30]:
import os
import pandas as pd
import setup
from datetime import datetime
import warnings
import numpy

In [31]:
warnings.filterwarnings("ignore")

In [32]:
lnfile = 'input/lpbra540611100_0000_20241204-081122_5808.xlsx'

In [37]:
df = pd.read_excel(lnfile, sheet_name='data')

In [38]:
rows, cols = df.shape
print(f'>Table size: Rows={rows} x Columns={cols}')

>Table size: Rows=323947 x Columns=13

In [39]:
cols_renamed = setup.cols_names
df.columns = cols_renamed
print(f'>Columns names renamed')

>Columns names renamed

In [42]:
df['DESC'].fillna('TBD',inplace=True)
df.fillna(0,inplace=True)
df['ACCOUNT'] = df['ACCOUNT'].astype('int64')
df['CC'] = df['CC'].astype('int64')
print(f'>All -NaN- removed')

>All -NaN- removed

In [43]:
df['DTM_DOC'] = pd.to_datetime(df['DTM_DOC'], errors='coerce')
df['YEAR'] = df['DTM_DOC'].dt.year
df['MONTH'] = df['DTM_DOC'].dt.month
print(f'>New columns YEAR and MONTH created')

>New columns YEAR and MONTH created

In [44]:
tdebit = df['DEBIT'].sum()
tcredit = df['CREDIT'].sum()
print(f'Total Debit={tdebit:_.0f}; Total Credit={tcredit:_.0f}')

Total Debit=4_433_331_291; Total Credit=4_422_093_129

In [45]:
df_group = df.groupby(setup.group_by, as_index=False).agg({
    'DEBIT': 'sum', 'CREDIT': 'sum'})
df_group['BALANCE'] = df_group['DEBIT'] - df_group['CREDIT']
#df_group['CC'] = df_group['CC'].astype('int64')
df_group['RCD'] = datetime.now()
df_group.reindex()
shape = df_group.shape
print(f'>Table size: Rows={shape[0]} x Columns={shape[1]}')

>Table size: Rows=1900 x Columns=8

In [51]:
tdebit_grp = df_group['DEBIT'].sum()
tcredit_grp = df_group['CREDIT'].sum()
tbalance_grp = df_group['BALANCE'].sum()
print(f'Total Debit={tdebit_grp:_.0f}; Total Credit={tcredit_grp:_.0f}; Total Credit={tbalance_grp:_.0f}')

Total Debit=4_433_331_291; Total Credit=4_422_093_129; Total Credit=11_238_162

In [31]:
cc_df = list(df['CC'].unique())

In [ ]:
len(cc_df)

In [33]:
cc_df_group = list(df_group['CC'].unique())

In [ ]:
len(cc_df_group)