In [1]:
import os
import pandas as pd
import setup
from datetime import datetime

In [2]:
lnfile = r'C:\AUNDE\bots\cockpit\2upload\lpbra540611100_0000_20241120-140902_69460.xlsx'

In [3]:
df = pd.read_excel(lnfile, sheet_name='data')

c:\Users\Marcelo Zarate\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df.shape

(266873, 13)

In [5]:
cols_renamed = setup.cols_names

In [6]:
df.columns = cols_renamed

In [7]:
df['DTM_DOC'] = pd.to_datetime(df['DTM_DOC'], errors='coerce')
df['YEAR'] = df['DTM_DOC'].dt.year
df['MONTH'] = df['DTM_DOC'].dt.month

In [8]:
df_group = df.groupby(setup.group_by, as_index=False).agg({
    'DEBIT': 'sum', 'CREDIT': 'sum'})
df_group['BALANCE'] = df_group['DEBIT'] - df_group['CREDIT']
df_group['CC'] = df_group['CC'].astype('int64')
df_group['RCD'] = datetime.now()
df_group.reindex()

,YEAR,MONTH,CC,ACCOUNT,DEBIT,CREDIT,BALANCE,RCD
0,2024,10,110,32101005,131.66,0.00,131.66,2024-11-25 15:30:40.816556
1,2024,10,110,32103001,2915.61,0.00,2915.61,2024-11-25 15:30:40.816556
2,2024,10,110,32103003,16.80,0.00,16.80,2024-11-25 15:30:40.816556
3,2024,10,110,32103004,946.71,344.36,602.35,2024-11-25 15:30:40.816556
4,2024,10,110,32106001,201208.08,0.00,201208.08,2024-11-25 15:30:40.816556
...,...,...,...,...,...,...,...,...
1974,2024,10,4099,31103003,2708.74,0.00,2708.74,2024-11-25 15:30:40.816556
1975,2024,10,4099,31103004,12476.52,0.00,12476.52,2024-11-25 15:30:40.816556
1976,2024,10,4099,31104001,392.92,392.92,0.00,2024-11-25 15:30:40.816556
1977,2024,10,4099,31202001,605862.19,133758.43,472103.76,2024-11-25 15:30:40.816556
1978,2024,10,4099,32111999,75301.87,7254.97,68046.90,2024-11-25 15:30:40.816556

In [9]:
df_group.shape

(1979, 8)

In [10]:
df_group['GR'] = df_group['ACCOUNT'].astype(str).str[:5]

In [11]:
df_group.columns

Index(['YEAR', 'MONTH', 'CC', 'ACCOUNT', 'DEBIT', 'CREDIT', 'BALANCE', 'RCD',
       'GR'],
      dtype='object')

In [13]:
df_accounts = df[['ACCOUNT','DESCRIPTION']].drop_duplicates()

In [14]:
df.columns

Index(['ACCOUNT', 'DESCRIPTION', 'DTM_DOC', 'BATCH', 'DOC', 'TBD', 'PJUR',
       'DESC', 'REMARK', 'CC', 'DEBIT', 'CREDIT', 'BALANCE', 'YEAR', 'MONTH'],
      dtype='object')

In [15]:
df_accounts

         ACCOUNT                     DESCRIPTION
0       31101001          VENDAS MERCADO INTERNO
9518    31101002          VENDAS MERCADO EXTERNO
10395   31101004     VENDA EQUIPARADA EXPORTAÃ‡ÃƒO
10486   31101999           TRANSITORIA DE VENDAS
22105   31103001                            ICMS
...          ...                             ...
265992  42111014                FRETES EVENTUAIS
266059  42111017                    COMUNICAÃ‡Ã•ES
266060  42111019    SERVIÃ‡OS PRESTADOS QUALIDADE
266109  42111020         FRETES S/ MATERIA PRIMA
266207  43101002  VARIAÃ‡ÃƒO ESTOQUE PROD.PROCESSO

[154 rows x 2 columns]

In [16]:
df_group.columns

Index(['YEAR', 'MONTH', 'CC', 'ACCOUNT', 'DEBIT', 'CREDIT', 'BALANCE', 'RCD',
       'GR'],
      dtype='object')

In [17]:
df_group = df_group.merge(df_accounts,on='ACCOUNT',how='left')

In [18]:
df_group.columns

Index(['YEAR', 'MONTH', 'CC', 'ACCOUNT', 'DEBIT', 'CREDIT', 'BALANCE', 'RCD',
       'GR', 'DESCRIPTION'],
      dtype='object')

In [1]:
import setup

In [2]:
setup.check_xls_values['cols_ok']

['Conta contÃ¡bil',
 'DescriÃ§Ã£o',
 'Data documento',
 'Lote',
 'Documento',
 None,
 'P. jurÃ­d.',
 'DescriÃ§Ã£o',
 'ReferÃªncia',
 'CC',
 'DÃ©bito',
 'CrÃ©dito',
 'Saldo']